@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(assets/fonts/pxiGyp8kv8JHgFVrJJLufntAKPY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(assets/fonts/pxiGyp8kv8JHgFVrJJLucHtA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.jumbo-title{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 3em;
    height: 100px;
  }
  
  .jumbo-bg-1{
    background: rgb(239,239,244);
    background: linear-gradient(90deg, rgba(239,239,244,1) 0%, rgba(238,238,200,1) 35%, rgba(250,233,4,1) 100%);   
  }
  
  .jumbo-bg-2{
    background: rgb(239,239,244);
    background: linear-gradient(90deg, rgba(239,239,244,1) 0%, rgba(238,223,200,1) 30%, rgba(250,196,4,1) 100%);  
  }
  
  .jumbo-bg-3{
    background: rgb(239,239,244);
    background: linear-gradient(90deg, rgba(239,239,244,1) 0%, rgba(200,238,232,1) 30%, rgba(4,213,250,1) 100%);
  }
  
  .jumbo-bg-4{
    background: rgb(239,239,244);
    background: linear-gradient(90deg, rgba(239,239,244,1) 0%, rgba(200,238,207,1) 30%, rgba(4,250,134,1) 100%);
  }

.btn-color{
    background-color: #0e1c36;
    color: #fff;
}

/* Carousel text adding some background*/
.slide-content {
  position:relative;
  right: -20%;
  top: 35%;
  width: 60%;
  height: 170px;
  
  text-align: center;
/*   transform: translate(-50%,-50%) rotate3d(1, 0, 0, -90deg); */
  transform-origin: top;
  background-color: rgba(0,0,0,.6);
/*   -webkit-clip-path: polygon(0 0 , 100% 0 , 90% 100% , 10% 100% ); */
  color: #fff;
/*   font-size: 2em; */
}
.slide-content, 
.slide-content h3,
.slide-content h2,
.slide-content p,
.slide-content h3:before,
.slide-content h3:after {
  transition: all 2s ease;
}
.slide-content h3 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: rgba(255,255,255,.95);
/*   transform: translate3d(-100%, 0,1px); */
}
.slide-content h3:before,
.slide-content h3:after {
  content: '';
  display: block;
  width: 70px;
  height: 2px;
  position: absolute;
  top: 49%;
  background-color: #f1f1f1;
}
.slide-content h3:before {
  left: -90px;
/*   transform: translate3d(-700%, 0, 1px) */
}
.slide-content h3:after {
  right: -90px;
/*   transform: translate3d(700%, 0, 1px) */
}
.slide-content h2 {
  color: #f9f9f9;
/*   font-size: 1.3em; */
  margin-top: 15px;
  margin-bottom: 20px;
  text-transform:uppercase;
/*   transform: translate3d(100%, 0,1px); */
}
.slide-content p {
/*   font-size: .6em; */
/*   padding: 0 190px; */
  line-height: 1.4em;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: rgba(255,255,255,.8);
/*   transform: translate3d(0, 400%,1px); */
}
  
  